.companies-grid{ /* mi permette di gestire la griglia di visualizzazione degli oggetti*/
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}


.company-card{ /* Gestione di ogni tabella dedicata alle aziende*/
    background: #c6c3c3;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-card:hover{
    background: #94a9b6;
    border-color: #3a5b7c;
}


.card-icon{/* riquadro della tabella  */
    width: 40px;
    height: 40px;
    background: #68acf1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.card-info h3 {margin: 0; color: #000405; font-size: 20px;} /*personalizzo h3*/
.card-info p {margin: 5px 0 0; color: #000000; font-size: 14px;}  /*personalizzo p*/