body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #09a1f1;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logincontainer {
    background-color: #92a5ca; /* Sfondo della card */
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px; /* Leggermente più stretto della registrazione perché ci sono meno campi */
    text-align: center; /* Centra tutto il testo nella card */
}


h2 { margin-bottom: 20px;
color: #333;}


p{ color : #9e9e9e;
font-size: 20px;
margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 4px;
    outline: none;
    transition: box-shadow 0.2s;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #1c3a5a; /* blu scuro per il bottone login */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #012f43;
}
/* container contenente il logo del sito*/
.containerLogo{
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.back-link{
    margin-top: 10px;
    color: #ffffff;
text-align: center;
text-decoration: none;
font-size: 16px;}

.my-logo{
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    display:block;
    margin: 0;

}



.back-link:hover{
    text-decoration: underline;
}
.register-button{
    margin-top: 10px;
    color: #012f43;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
